.features-img {
	width: 270px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $filter-color;
	margin-bottom: 30px;
}

.features-list {
	display: flex;
	gap: 30px;
}

.features-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $color-text;
	margin-bottom: 10px;
}

.features-text {
	width: 270px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $color-text-secohd;
}